.intro {
    max-width: 650px;
    width: 100%;
}

.intro h1 {
    font-family: 'Sans Serif', sans-serif;
    font-size: 44px;
    margin: 10px;
    font-weight: 800;
}

.intro p {
    font-family: 'Sans Serif', sans-serif;
    font-size: 18px;
    margin: 10px;
}

.intro a {
    font-family: 'Sans Serif', sans-serif;
    font-size: 18px;
    margin: 8px;
    background-color: #0f60b1; /* Green */
    border: none;
    color: white;
    padding: 10px 48px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
}

.intro img {
    max-width: 650px;
    width: 100%;
}