.section {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.section .left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.section .right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .section {
        flex-direction: column;
    }
}