.section {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1400px;
}

.section .left {
    padding: 10px;
    flex: 50%;
}

.section .right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 900px) {
    .section {
        flex-direction: column;
    }
}